<h3>ProductList</h3>

<ul class="list-unstyled">
    @foreach (var item in products)
    {
    <li class="media my-3">
        <div class="media-img-wrapper mr-2">
            <a href="/product/@item.Id">
                <img class="media-img" src="@item.Image" alt="@item.Title" />
            </a>
        </div>
        <div class="media-body">
            <a href="/product/@item.Id">
                <h4 class="mb-0">@item.Title</h4>
            </a>
            <p>@item.Description</p>
            @if (item.OriginalPrice > item.Price)
            {
                <h6 class="text-muted original-price">$@item.OriginalPrice</h6>
            }
            <h5 class="price">
                $@item.Price
            </h5>
        </div>
    </li>
    }
</ul>
@code {
            List<Product> products = new List<Product>
    {
        new Product
        {
            Id=1,
            CategoryId=1,
            Title="Galax 34",
            Description="Celular Sansung",
            Image="https://i.pinimg.com/236x/76/d9/80/76d98054151d08ac8c1e625deff00874.jpg",
            Price=9.99m,
            OriginalPrice=19.99m,
        },
         new Product
        {
            Id=1,
            CategoryId=1,
            Title="Iphone 12",
            Description="Iphone 12",
            Image="https://i.pinimg.com/236x/76/d9/80/76d98054151d08ac8c1e625deff00874.jpg",
            Price=8.19m,
            OriginalPrice=29.99m,
        }
    };
}
