@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService;

@if (category != null)
{
    <h1>Bienvenidos a @category.Name Sección</h1>
    <ProductList/>
}
else
{
    <h1>Bienvenidos a Ecommerce</h1>
    <ProductList />
}


@code
{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override void OnParametersSet()
    {

        ProductService.LoadProducts(CategoryUrl);
        @if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }
}
